{% extends "main/base.html" %}

{% load static %}

{% block content %}
<div class="col-sm-12">

	<h1 class="margin-bottom-3">CaseDashboard</h1>
	<table class="table table-sm table-hover table-striped">
		<thead>
			<tr>
				<th>Datum</th>
				<th>Gericht</th>
				<th>Aktenzeichen</th>
        <th>Hash</th>
				<th class="text-center">BlockStatus</th>
			</tr>
		</thead>
		<tbody>

			{% for case in cases %}
			<tr>
				<td>{{ case.date }}</td>
				<td>{{ case.court }}</td>
				<td><a href="./{{ case.id }}">{{ case.caseFile }}</a></td>
				<td>{{ case.hashValue }}</td>
				<td class="text-center">
        {% if case.status %}
          <i class="fa fa-chain text-success"></i>
        {% else %}
          <i class="fa fa-chain-broken text-danger"></i></td>
        {% endif %}
			</tr>
			{% endfor %}

		</tbody>
	</table>

</div>
{% endblock %}
